@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html, body {
        font-family: 'PT Sans Caption', sans-serif;
        letter-spacing: 0.05rem;
    }
    .radio-check{
        @apply w-4 h-4 text-blue-600  border-gray-300 rounded  ring-offset-gray-800  bg-gray-700 ;
    }
}

@layer components {
    .anime {
        @apply motion-safe:transition duration-[.3s] ease-in-out ;
      }
      .cc{
        @apply justify-center items-center ;
      }
}

.p-checkbox .p-checkbox-box.p-highlight .p-checkbox-icon.pi-check::before {

    top: 8px !important;
    left: 2px !important;
  }






